*.class

# Package Files #
*.jar
*.war
*.ear

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
/build/
!/lib/ormlite-jdbc-4.45.jar
!/lib/ormlite-core-4.45.jar
/nbproject/private/
/target
*.directory
